# CAR DATA

Project to practice about EDA, Univariate and bivariate, clean data, and Lineal Regression

## About Dataset
There is an automobile company XYZ from India which aspires to enter the Indian used-car market by setting up their company locally to give competition to their counterparts.

Data Dictionary:
<br>Description
<br>**Sales_ID**: Sales ID
<br>**name**: Name of the used car
<br>**year**: Year of the car purchase
<br>**selling_price**: Current sellling price for used car
<br>**km_driven**: Total km driven
<br>**Region**: Region where it is used
<br>**State** or Province: State or Province where it is used
<br>**City**: City where it is used
<br>**fuel**: Fuel type
<br>**seller_type**: Who is selling the car
<br>**transmission**: Transmission type of the car
<br>**owner**: Owner type
<br>**mileage**: Mileage of the car
<br>**engine**: engine power
<br>**max_power**: max power
<br>**seats**: Number of seats
<br>**sold**: used car sold or not


Link
https://www.kaggle.com/datasets/shubham1kumar/usedcar-data?datasetId=2264727&sortBy=voteCount&select=UserCarData.csv

In [3]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

Importing dataset from local file

In [9]:
df = pd.read_csv("UserCarData.csv")

In [10]:
df.head()

,Sales_ID,name,year,selling_price,km_driven,Region,State or Province,City,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,sold
0,1,Maruti,2014,450000,145500,East,District of Columbia,Washington,Diesel,Individual,Manual,First_Owner,23.40,1248,74.00,190Nm@ 2000rpm,5,Y
1,2,Skoda,2014,370000,120000,East,New York,New York City,Diesel,Individual,Manual,Second_Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5,Y
2,3,Honda,2006,158000,140000,Central,Illinois,Chicago,Petrol,Individual,Manual,Third_Owner,17.70,1497,78.00,"12.7@ 2,700(kgm@ rpm)",5,Y
3,4,Hyundai,2010,225000,127000,Central,Illinois,Chicago,Diesel,Individual,Manual,First_Owner,23.00,1396,90.00,22.4 kgm at 1750-2750rpm,5,Y
4,5,Maruti,2007,130000,120000,East,New York,New York City,Petrol,Individual,Manual,First_Owner,16.10,1298,88.20,"11.5@ 4,500(kgm@ rpm)",5,Y

# EDA

In [11]:
df.shape

(7906, 18)

The file has 7906 registers and 18 variables

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7906 entries, 0 to 7905
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sales_ID           7906 non-null   int64
 1   name               7906 non-null   object
 2   year               7906 non-null   int64
 3   selling_price      7906 non-null   int64
 4   km_driven          7906 non-null   int64
 5   Region             7906 non-null   object
 6   State or Province  7906 non-null   object
 7   City               7906 non-null   object
 8   fuel               7906 non-null   object
 9   seller_type        7906 non-null   object
 10  transmission       7906 non-null   object
 11  owner              7906 non-null   object
 12  mileage            7906 non-null   float64
 13  engine             7906 non-null   int64
 14  max_power          7906 non-null   float64
 15  torque             7906 non-null   object
 16  seats              7906 non-null   int64
 17  sold               7906 non-null   object
dtypes: float64(2), int64(6), object(10)
memory usage: 1.1+ MB

The dataset doesn't has any null values.

Cuantitative columns:

Sales_ID, year, selling_price, km_drive, mileage, engine, seats.

Cualitative columns:

name, Region, Sate or Province, City, fuel, seller_type, transmission, owner, torque, sold

### General description of the dataset 
We can see the different values in the dataset for each column after execute `describe()`, such as the mean, min and max values.

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Sales_ID,7906.0,4070.106248,2345.770159,1.0,2037.25,4076.5,6102.00,8128.0
year,7906.0,2013.983936,3.863695,1994.0,2012.00,2015.0,2017.00,2020.0
selling_price,7906.0,649813.720845,813582.748354,29999.0,270000.00,450000.0,690000.00,10000000.0
km_driven,7906.0,69188.659752,56792.296343,1.0,35000.00,60000.0,95425.00,2360457.0
mileage,7906.0,19.419861,4.036263,0.0,16.78,19.3,22.32,42.0
engine,7906.0,1458.708829,503.893057,624.0,1197.00,1248.0,1582.00,3604.0
max_power,7906.0,91.587374,35.747216,32.8,68.05,82.0,102.00,400.0
seats,7906.0,5.416393,0.959208,2.0,5.00,5.0,5.00,14.0